# How to Access the NBA Data

In [1]:
import pandas as pd
import os
import requests

In [2]:
teams = pd.read_csv(os.path.join("..", "data", "teams.csv"))
teams

     division                    team     team_id
0    Atlantic          Boston Celtics  1610612738
1    Atlantic           Brooklyn Nets  1610612751
2    Atlantic         New York Knicks  1610612752
3    Atlantic      Philadelphia 76ers  1610612755
4    Atlantic         Toronto Raptors  1610612761
5     Central           Chicago Bulls  1610612741
6     Central     Cleveland Cavaliers  1610612739
7     Central         Detroit Pistons  1610612765
8     Central          Indiana Pacers  1610612754
9     Central         Milwaukee Bucks  1610612749
10  Southeast           Atlanta Hawks  1610612737
11  Southeast       Charlotte Hornets  1610612766
12  Southeast              Miami Heat  1610612748
13  Southeast           Orlando Magic  1610612753
14  Southeast      Washington Wizards  1610612764
15  Northwest          Denver Nuggets  1610612743
16  Northwest  Minnesota Timberwolves  1610612750
17  Northwest   Oklahoma City Thunder  1610612760
18  Northwest  Portland Trail Blazers  1610612757
19  Northwest               Utah Jazz  1610612762
20    Pacific   Golden State Warriors  1610612744
21    Pacific             LA Clippers  1610612746
22    Pacific      Los Angeles Lakers  1610612747
23    Pacific            Phoenix Suns  1610612756
24    Pacific        Sacramento Kings  1610612758
25  Southwest        Dallas Mavericks  1610612742
26  Southwest         Houston Rockets  1610612745
27  Southwest       Memphis Grizzlies  1610612763
28  Southwest    New Orleans Pelicans  1610612740
29  Southwest       San Antonio Spurs  1610612759

In [3]:
players = pd.read_csv(os.path.join("..", "data", "players.csv"))
players

,team_id,season,player,num,position,height,weight,birth_date,age,exp,school,player_id
0,1610612738,2022,Jayson Tatum,0.0,F-G,203.20,95.254398,1998-03-03,24,5,Duke,1628369
1,1610612738,2022,Noah Vonleh,4.0,F,208.28,116.573239,1995-08-24,27,7,Indiana,203943
2,1610612738,2022,Jaylen Brown,7.0,G-F,198.12,101.151099,1996-10-24,26,6,California,1627759
3,1610612738,2022,Danilo Gallinari,8.0,F,208.28,107.047799,1988-08-08,34,13,Olimpia Milano,201568
4,1610612738,2022,Derrick White,9.0,G,193.04,86.182550,1994-07-02,28,5,Colorado,1628401
...,...,...,...,...,...,...,...,...,...,...,...,...
495,1610612759,2022,Keita Bates-Diop,31.0,F,203.20,103.872653,1996-01-23,26,4,Ohio State,1628966
496,1610612759,2022,Tre Jones,33.0,G,185.42,83.914588,2000-01-08,22,2,Duke,1630200
497,1610612759,2022,Romeo Langford,35.0,G-F,195.58,97.975952,1999-10-25,23,3,Indiana,1629641
498,1610612759,2022,Gorgui Dieng,41.0,C,208.28,112.490908,1990-01-18,32,9,Louisville,203476
499,1610612759,2022,Jordan Hall,55.0,G,200.66,97.522360,2002-01-14,20,R,St. Joseph's (PA),1631160

In [4]:
player_quick_stats = pd.read_csv(os.path.join("..", "data", "player_quick_stats.csv"))
player_quick_stats

     player_id   ppg  rpg  apg   pie
0      1628369  32.3  7.2  4.1  17.8
1       203943   2.1  3.3  0.4   3.1
2      1627759  25.3  6.8  3.3  12.2
3       201568  11.7  4.7  1.5   9.9
4      1628401   8.4  3.4  2.9   7.7
..         ...   ...  ...  ...   ...
495    1628966   6.7  2.2  0.4   9.6
496    1630200  12.3  3.8  6.6  10.0
497    1629641   4.3  2.0  0.4   2.6
498     203476   3.5  2.0  1.8   7.3
499    1631160   1.0  0.3  1.0   NaN

[500 rows x 5 columns]

In [5]:
player_career_stats = pd.read_csv(os.path.join("..", "data", "player_info.csv"))
player_career_stats

,season,team,age,gp,gs,min,pts,fgm,fga,fg%,...,ft%,oreb,dreb,reb,ast,stl,blk,tov,pf,player_id
0,2022-23,BOS,24,13,13,487,420,135,270,50.0,...,87.2,10,84,94,53,10,17,32,29,1628369
1,2021-22,BOS,24,76,76,2731,2046,708,1564,45.3,...,85.3,85,524,609,334,75,49,217,174,1628369
2,2020-21,BOS,23,64,64,2290,1692,605,1318,45.9,...,86.8,50,422,472,276,75,31,171,122,1628369
3,2019-20,BOS,22,66,66,2265,1547,552,1226,45.0,...,81.2,64,396,460,200,93,57,155,136,1628369
4,2018-19,BOS,21,79,79,2455,1243,466,1036,45.0,...,85.5,70,407,477,168,84,57,122,168,1628369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,2016-17,MIN,27,82,82,2653,816,332,661,50.2,...,81.4,188,459,647,158,88,95,107,254,203476
3132,2015-16,MIN,26,82,39,2220,827,308,579,53.2,...,82.7,157,428,585,143,94,96,140,219,203476
3133,2014-15,MIN,25,73,49,2193,710,259,512,50.6,...,78.3,223,386,609,146,71,126,126,188,203476
3134,2013-14,MIN,24,60,15,818,286,113,227,49.8,...,63.4,103,197,300,39,30,50,54,108,203476
3135,2022-23,SAS,20,3,0,27,3,1,5,20.0,...,0.0,0,1,1,3,0,0,2,1,1631160

## Access NBA through API

In [6]:
BASE_URL = "https://dsci511-nba-api.herokuapp.com/"

In [9]:
requests.get(BASE_URL).json()

{'message': 'welcome to the nba api! for dsci 511 - data acquisition and preprocessing'}

### Get all NBA Teams

In [11]:
response = requests.get(f"{BASE_URL}teams")
response

In [17]:
response.json()

[{'player': 'Tyrese Maxey',
  'player_id': 1630178,
  'position': 'G',
  'weight': 90.718474,
  'age': 22,
  'school': 'Kentucky',
  'num': 0.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 187.96,
  'birth_date': '2000-11-04',
  'exp': '2'},
 {'player': 'James Harden',
  'player_id': 201935,
  'position': 'G',
  'weight': 99.7903214,
  'age': 33,
  'school': 'Arizona State',
  'num': 1.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1989-08-26',
  'exp': '13'},
 {'player': 'Montrezl Harrell',
  'player_id': 1626149,
  'position': 'F-C',
  'weight': 108.8621688,
  'age': 28,
  'school': 'Louisville',
  'num': 5.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1994-01-26',
  'exp': '7'},
 {'player': "De'Anthony Melton",
  'player_id': 1629001,
  'position': 'G',
  'weight': 90.718474,
  'age': 24,
  'school': 'Southern California',
  'num': 8.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 187.96,
  'birth_date': '1998-05-28',
  'exp': '4'},
 {'player': 'Jaden Springer',
  'player_id': 1630531,
  'position': 'G',
  'weight': 91.62565874,
  'age': 20,
  'school': 'Tennessee',
  'num': 11.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 193.04,
  'birth_date': '2002-09-25',
  'exp': '1'},
 {'player': 'Tobias Harris',
  'player_id': 202699,
  'position': 'F',
  'weight': 102.51187562,
  'age': 30,
  'school': 'Tennessee',
  'num': 12.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1992-07-15',
  'exp': '11'},
 {'player': 'P.J. Tucker',
  'player_id': 200782,
  'position': 'F',
  'weight': 111.13013065,
  'age': 37,
  'school': 'Texas',
  'num': 17.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1985-05-05',
  'exp': '11'},
 {'player': 'Shake Milton',
  'player_id': 1629003,
  'position': 'G-F',
  'weight': 92.98643585,
  'age': 26,
  'school': 'Southern Methodist',
  'num': 18.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1996-09-26',
  'exp': '4'},
 {'player': 'Georges Niang',
  'player_id': 1627777,
  'position': 'F',
  'weight': 104.3262451,
  'age': 29,
  'school': 'Iowa State',
  'num': 20.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1993-06-17',
  'exp': '6'},
 {'player': 'Joel Embiid',
  'player_id': 203954,
  'position': 'C-F',
  'weight': 127.0058636,
  'age': 28,
  'school': 'Kansas',
  'num': 21.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 213.36,
  'birth_date': '1994-03-16',
  'exp': '6'},
 {'player': 'Matisse Thybulle',
  'player_id': 1629680,
  'position': 'G-F',
  'weight': 91.17206637,
  'age': 25,
  'school': 'Washington',
  'num': 22.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1997-03-04',
  'exp': '3'},
 {'player': 'Danuel House Jr.',
  'player_id': 1627863,
  'position': 'F-G',
  'weight': 99.7903214,
  'age': 29,
  'school': 'Texas A&M',
  'num': 25.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 198.12,
  'birth_date': '1993-06-07',
  'exp': '6'},
 {'player': 'Furkan Korkmaz',
  'player_id': 1627788,
  'position': 'G-F',
  'weight': 91.62565874,
  'age': 25,
  'school': 'Anadolu Efes',
  'num': 30.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1997-07-24',
  'exp': '5'},
 {'player': 'Michael Foster Jr.',
  'player_id': 1630701,
  'position': 'F',
  'weight': 113.3980925,
  'age': 19,
  'school': 'NBA G League Ignite',
  'num': 35.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 203.2,
  'birth_date': '2003-01-16',
  'exp': 'R'},
 {'player': 'Paul Reed',
  'player_id': 1630194,
  'position': 'F',
  'weight': 95.2543977,
  'age': 23,
  'school': 'DePaul',
  'num': 44.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 205.74,
  'birth_date': '1999-06-14',
  'exp': '2'},
 {'player': 'Julian Champagnie',
  'player_id': 1630577,
  'position': 'F',
  'weight': 98.42954429,
  'age': 21,
  'school': "St. John's",
  'num': 55.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '2001-06-29',
  'exp': 'R'}]

In [14]:
pd.DataFrame(response.json())

       team_id   division                    team
0   1610612738   Atlantic          Boston Celtics
1   1610612751   Atlantic           Brooklyn Nets
2   1610612752   Atlantic         New York Knicks
3   1610612755   Atlantic      Philadelphia 76ers
4   1610612761   Atlantic         Toronto Raptors
5   1610612741    Central           Chicago Bulls
6   1610612739    Central     Cleveland Cavaliers
7   1610612765    Central         Detroit Pistons
8   1610612754    Central          Indiana Pacers
9   1610612749    Central         Milwaukee Bucks
10  1610612737  Southeast           Atlanta Hawks
11  1610612766  Southeast       Charlotte Hornets
12  1610612748  Southeast              Miami Heat
13  1610612753  Southeast           Orlando Magic
14  1610612764  Southeast      Washington Wizards
15  1610612743  Northwest          Denver Nuggets
16  1610612750  Northwest  Minnesota Timberwolves
17  1610612760  Northwest   Oklahoma City Thunder
18  1610612757  Northwest  Portland Trail Blazers
19  1610612762  Northwest               Utah Jazz
20  1610612744    Pacific   Golden State Warriors
21  1610612746    Pacific             LA Clippers
22  1610612747    Pacific      Los Angeles Lakers
23  1610612756    Pacific            Phoenix Suns
24  1610612758    Pacific        Sacramento Kings
25  1610612742  Southwest        Dallas Mavericks
26  1610612745  Southwest         Houston Rockets
27  1610612763  Southwest       Memphis Grizzlies
28  1610612740  Southwest    New Orleans Pelicans
29  1610612759  Southwest       San Antonio Spurs

### Get Team Roster by Team ID

In [15]:
team_id = 1610612755
response = requests.get(f"{BASE_URL}roster/{team_id}")
response

In [16]:
response.json()

[{'player': 'Tyrese Maxey',
  'player_id': 1630178,
  'position': 'G',
  'weight': 90.718474,
  'age': 22,
  'school': 'Kentucky',
  'num': 0.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 187.96,
  'birth_date': '2000-11-04',
  'exp': '2'},
 {'player': 'James Harden',
  'player_id': 201935,
  'position': 'G',
  'weight': 99.7903214,
  'age': 33,
  'school': 'Arizona State',
  'num': 1.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1989-08-26',
  'exp': '13'},
 {'player': 'Montrezl Harrell',
  'player_id': 1626149,
  'position': 'F-C',
  'weight': 108.8621688,
  'age': 28,
  'school': 'Louisville',
  'num': 5.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1994-01-26',
  'exp': '7'},
 {'player': "De'Anthony Melton",
  'player_id': 1629001,
  'position': 'G',
  'weight': 90.718474,
  'age': 24,
  'school': 'Southern California',
  'num': 8.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 187.96,
  'birth_date': '1998-05-28',
  'exp': '4'},
 {'player': 'Jaden Springer',
  'player_id': 1630531,
  'position': 'G',
  'weight': 91.62565874,
  'age': 20,
  'school': 'Tennessee',
  'num': 11.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 193.04,
  'birth_date': '2002-09-25',
  'exp': '1'},
 {'player': 'Tobias Harris',
  'player_id': 202699,
  'position': 'F',
  'weight': 102.51187562,
  'age': 30,
  'school': 'Tennessee',
  'num': 12.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1992-07-15',
  'exp': '11'},
 {'player': 'P.J. Tucker',
  'player_id': 200782,
  'position': 'F',
  'weight': 111.13013065,
  'age': 37,
  'school': 'Texas',
  'num': 17.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1985-05-05',
  'exp': '11'},
 {'player': 'Shake Milton',
  'player_id': 1629003,
  'position': 'G-F',
  'weight': 92.98643585,
  'age': 26,
  'school': 'Southern Methodist',
  'num': 18.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1996-09-26',
  'exp': '4'},
 {'player': 'Georges Niang',
  'player_id': 1627777,
  'position': 'F',
  'weight': 104.3262451,
  'age': 29,
  'school': 'Iowa State',
  'num': 20.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1993-06-17',
  'exp': '6'},
 {'player': 'Joel Embiid',
  'player_id': 203954,
  'position': 'C-F',
  'weight': 127.0058636,
  'age': 28,
  'school': 'Kansas',
  'num': 21.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 213.36,
  'birth_date': '1994-03-16',
  'exp': '6'},
 {'player': 'Matisse Thybulle',
  'player_id': 1629680,
  'position': 'G-F',
  'weight': 91.17206637,
  'age': 25,
  'school': 'Washington',
  'num': 22.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 195.58,
  'birth_date': '1997-03-04',
  'exp': '3'},
 {'player': 'Danuel House Jr.',
  'player_id': 1627863,
  'position': 'F-G',
  'weight': 99.7903214,
  'age': 29,
  'school': 'Texas A&M',
  'num': 25.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 198.12,
  'birth_date': '1993-06-07',
  'exp': '6'},
 {'player': 'Furkan Korkmaz',
  'player_id': 1627788,
  'position': 'G-F',
  'weight': 91.62565874,
  'age': 25,
  'school': 'Anadolu Efes',
  'num': 30.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '1997-07-24',
  'exp': '5'},
 {'player': 'Michael Foster Jr.',
  'player_id': 1630701,
  'position': 'F',
  'weight': 113.3980925,
  'age': 19,
  'school': 'NBA G League Ignite',
  'num': 35.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 203.2,
  'birth_date': '2003-01-16',
  'exp': 'R'},
 {'player': 'Paul Reed',
  'player_id': 1630194,
  'position': 'F',
  'weight': 95.2543977,
  'age': 23,
  'school': 'DePaul',
  'num': 44.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 205.74,
  'birth_date': '1999-06-14',
  'exp': '2'},
 {'player': 'Julian Champagnie',
  'player_id': 1630577,
  'position': 'F',
  'weight': 98.42954429,
  'age': 21,
  'school': "St. John's",
  'num': 55.0,
  'team_id': 1610612755,
  'season': 2022,
  'height': 200.66,
  'birth_date': '2001-06-29',
  'exp': 'R'}]

In [18]:
pd.DataFrame(response.json())

,player,player_id,position,weight,age,school,num,team_id,season,height,birth_date,exp
0,Tyrese Maxey,1630178,G,90.718474,22,Kentucky,0.0,1610612755,2022,187.96,2000-11-04,2
1,James Harden,201935,G,99.790321,33,Arizona State,1.0,1610612755,2022,195.58,1989-08-26,13
2,Montrezl Harrell,1626149,F-C,108.862169,28,Louisville,5.0,1610612755,2022,200.66,1994-01-26,7
3,De'Anthony Melton,1629001,G,90.718474,24,Southern California,8.0,1610612755,2022,187.96,1998-05-28,4
4,Jaden Springer,1630531,G,91.625659,20,Tennessee,11.0,1610612755,2022,193.04,2002-09-25,1
5,Tobias Harris,202699,F,102.511876,30,Tennessee,12.0,1610612755,2022,200.66,1992-07-15,11
6,P.J. Tucker,200782,F,111.130131,37,Texas,17.0,1610612755,2022,195.58,1985-05-05,11
7,Shake Milton,1629003,G-F,92.986436,26,Southern Methodist,18.0,1610612755,2022,195.58,1996-09-26,4
8,Georges Niang,1627777,F,104.326245,29,Iowa State,20.0,1610612755,2022,200.66,1993-06-17,6
9,Joel Embiid,203954,C-F,127.005864,28,Kansas,21.0,1610612755,2022,213.36,1994-03-16,6
10,Matisse Thybulle,1629680,G-F,91.172066,25,Washington,22.0,1610612755,2022,195.58,1997-03-04,3
11,Danuel House Jr.,1627863,F-G,99.790321,29,Texas A&M,25.0,1610612755,2022,198.12,1993-06-07,6
12,Furkan Korkmaz,1627788,G-F,91.625659,25,Anadolu Efes,30.0,1610612755,2022,200.66,1997-07-24,5
13,Michael Foster Jr.,1630701,F,113.398093,19,NBA G League Ignite,35.0,1610612755,2022,203.20,2003-01-16,R
14,Paul Reed,1630194,F,95.254398,23,DePaul,44.0,1610612755,2022,205.74,1999-06-14,2
15,Julian Champagnie,1630577,F,98.429544,21,St. John's,55.0,1610612755,2022,200.66,2001-06-29,R

### Get Player Information by Player ID

In [19]:
player_id = 1630178
response = requests.get(f"{BASE_URL}player/{player_id}")
response

In [20]:
response.json()

{'player': 'Tyrese Maxey',
 'player_id': 1630178,
 'position': 'G',
 'weight': 90.718474,
 'age': 22,
 'school': 'Kentucky',
 'num': 0.0,
 'team_id': 1610612755,
 'season': 2022,
 'height': 187.96,
 'birth_date': '2000-11-04',
 'exp': '2'}

In [22]:
pd.DataFrame([response.json()])

,player,player_id,position,weight,age,school,num,team_id,season,height,birth_date,exp
0,Tyrese Maxey,1630178,G,90.718474,22,Kentucky,0.0,1610612755,2022,187.96,2000-11-04,2

### Get Quick Player Stats by Player ID

In [23]:
player_id = 1630178
response = requests.get(f"{BASE_URL}player/quickstats/{player_id}")
response

In [24]:
pd.DataFrame([response.json()])

   player_id  apg   ppg   pie  rpg
0    1630178  4.4  22.8  10.4  3.4

In [25]:
# Can do a inner join between these two pieces of data
player_id = 1630178
player_response = requests.get(f"{BASE_URL}player/{player_id}")
quickstat_response = requests.get(f"{BASE_URL}player/quickstats/{player_id}")

player_df = pd.DataFrame([player_response.json()])
quickstat_df = pd.DataFrame([quickstat_response.json()])

player_df.merge(quickstat_df, on="player_id")

,player,player_id,position,weight,age,school,num,team_id,season,height,birth_date,exp,apg,ppg,pie,rpg
0,Tyrese Maxey,1630178,G,90.718474,22,Kentucky,0.0,1610612755,2022,187.96,2000-11-04,2,4.4,22.8,10.4,3.4

### Get Career Player Stats by Player ID

In [26]:
player_id = 1630178
response = requests.get(f"{BASE_URL}player/careerstats/{player_id}")
response

In [27]:
response.json()

[{'three_p_percentage': 40.8,
  'gs': 14,
  'dreb': 42,
  'player_id': 1630178,
  'ft_percentage': 75.0,
  'min': 525,
  'reb': 48,
  'pts': 319,
  'ast': 61,
  'id': 358,
  'fgm': 117,
  'stl': 15,
  'three_pm': 40,
  'season': '2022-23',
  'fga': 261,
  'blk': 3,
  'team': 'PHI',
  'ftm': 45,
  'tov': 29,
  'fg_percentage': 44.8,
  'age': 22,
  'fta': 60,
  'pf': 35,
  'three_pa': 98,
  'gp': 14,
  'oreb': 6},
 {'three_p_percentage': 42.7,
  'gs': 74,
  'dreb': 214,
  'player_id': 1630178,
  'ft_percentage': 86.6,
  'min': 2650,
  'reb': 240,
  'pts': 1311,
  'ast': 321,
  'id': 359,
  'fgm': 483,
  'stl': 55,
  'three_pm': 132,
  'season': '2021-22',
  'fga': 995,
  'blk': 32,
  'team': 'PHI',
  'ftm': 213,
  'tov': 88,
  'fg_percentage': 48.5,
  'age': 21,
  'fta': 246,
  'pf': 156,
  'three_pa': 309,
  'gp': 75,
  'oreb': 26},
 {'three_p_percentage': 30.1,
  'gs': 8,
  'dreb': 93,
  'player_id': 1630178,
  'ft_percentage': 87.1,
  'min': 936,
  'reb': 104,
  'pts': 488,
  'ast': 120,
  'id': 360,
  'fgm': 198,
  'stl': 26,
  'three_pm': 31,
  'season': '2020-21',
  'fga': 429,
  'blk': 13,
  'team': 'PHI',
  'ftm': 61,
  'tov': 41,
  'fg_percentage': 46.2,
  'age': 20,
  'fta': 70,
  'pf': 79,
  'three_pa': 103,
  'gp': 61,
  'oreb': 11}]

In [28]:
pd.DataFrame(response.json())

,three_p_percentage,gs,dreb,player_id,ft_percentage,min,reb,pts,ast,id,...,team,ftm,tov,fg_percentage,age,fta,pf,three_pa,gp,oreb
0,40.8,14,42,1630178,75.0,525,48,319,61,358,...,PHI,45,29,44.8,22,60,35,98,14,6
1,42.7,74,214,1630178,86.6,2650,240,1311,321,359,...,PHI,213,88,48.5,21,246,156,309,75,26
2,30.1,8,93,1630178,87.1,936,104,488,120,360,...,PHI,61,41,46.2,20,70,79,103,61,11